<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
<h1 align="center">login page</h1><hr>
<form method="POST" action="/conflogin/" align="center">
     {%csrf_token%}
     <h4><lable>User name:<input type="text" name="username"></lable><br><br>
     <lable>Password:&nbsp&nbsp<input type="password" name="password"></lable><br><br>
     <button type="submit" ALIGN="CENTER" class="btn btn-primary btn-lg" >LOGIN</button>


 </form>

</body>
</html>